/* Style Settings */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
:root {
    --bgColor: #fff7f6!important ;
    --accentColor: #fb6666  !important;
    --font: 'Roboto Slab', serif;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--bgColor) !important;
}

#userPhoto{ 
    width: 120px;
    height: 120px;
    /*border-radius: 50%;*/
    /*border: 5px solid var(--accentColor);*/
}



@font-face {

    font-family: Teste;
    src: url(font_1.ttf);
}

#fontH1{
     font-family: Teste;
     font-size: 80px;
     margin-bottom: -10px;
}

#links{
    max-width: 675px;
    width: 100%;
}


.link{
    display: block;
    background-color: var(--accentColor);
    color: white;
    font-family: var(--font);
    text-align: center;
    margin-bottom: 30px;
    padding: 13px;
    text-decoration: none;
    font-size: 1rem;
    transition: all .25s cubic-bezier(.08,.59,.29,.99);
    border: solid var(--accentColor) 2px;
    border-radius: 50px;
}

.link:hover{
    background-color: #fff7f6;
    color: var(--accentColor);
    
}

	/* Social Media */ 
    #social-media ul li {
        display: inline-block;
        font-size: 30px;
        margin: 0 10px;
      }

      #social-media a{
          color: #6b6b6b;
      }

      #social-media ul li a {
        transition: all 0.8s !important;
      }
    
      #social-media ul li a:hover {
        opacity: 0.8 !important;
        
      }

